@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Play', sans-serif;
}

body {
	background-color: #00b4d8;
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	width: 7px;
	background: rgb(177, 177, 177); /*!prueba*/
}

header {
	background-color: #00b4d8;
}

.boton_mode {
	position: absolute;
	top: 25px;
	right: 20px;
	display: flex;
}

.darkmode {
	box-sizing: border-box;
	padding: 10px 15px;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #212529;
	font-weight: 600;
	background-color: #efebce;
	border-radius: 8px;
	box-shadow: 4px 4px 0 0 #050404;
	transition: all 0.15s;
	border: solid 2px #000000;
}

/* .darkmode:hover {
	background-color: #212529;
	color: white;
} */

.darkmode:active {
	background-color: #6c757d;
	box-shadow: 0px 0px 0px 0px;
	transform: translateX(4px) translateY(4px);
	transition: all 0.12s;
}

.image {
	padding: 15px;
	width: 100%;
	height: auto;
	/*background-color: aqua;*/
	text-align: center;
}

img {
	border-radius: 50%;
	position: relative;
	text-align: center;
	width: 200px;
	height: 200px;
}

.logo {
	position: absolute;
	margin-left: 20px;
	height: 100px;
	width: 100px;
}

#avatar {
	width: 90px;
	height: 90px;
}

nav {
	overflow: hidden;
	background-color: #00b4d8;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	padding: 14px;
	margin-right: 10px;
}

nav ul li a {
	/*color: transparent;*/
	/* -webkit-text-stroke: transparent; */
	-webkit-text-stroke: 1px #000000;
	/* font-size: 2.8em; */
	font-size: 37px;
	font-weight: 900;
	text-decoration: none;
	line-height: 1.2em;
}

nav ul li a {
	float: right;
	display: flex;
	color: #ffb703;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	/* font-size: 30px; */
	/* font-weight: 800; */
	text-transform: capitalize;
}

nav .logo a {
	background-color: #03045e;
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 35px 30px;
	text-decoration: none;
	margin-left: 50px;
	text-transform: uppercase;
}

nav ul li a:hover {
	color: #ffffff;
	-webkit-text-stroke: transparent;
	/* -webkit-text-stroke: 1px #000; */
	transition: 00.5s;
}

nav ul li a::before,
nav ul li a::after {
	content: attr(data-text);
	position: absolute;
	transition: 0.5s;
}

nav ul li a:hover::before {
	color: #c9184a;
	z-index: 1;
	-webkit-text-stroke: 1px #000;
	transform: translate(5px, -5px);
}

nav ul li a:hover::after {
	color: #ffb703;
	z-index: 2;
	-webkit-text-stroke: 1px #000;
	transform: translate(10px, -10px);
}

/* nav ul a:active {
	background-color: blueviolet;
	color: #06d6a0;
} */
