@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Play', sans-serif;
}

body {
	background-color: #00afb9;
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	width: 7px;
	background: #fff; /*!prueba*/
}

header {
	background-color: #00b4d8;
}

.boton_mode {
	position: absolute;
	top: 25px;
	right: 20px;
	display: flex;
}

.darkmode {
	box-sizing: border-box;
	padding: 10px 15px;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #212529;
	font-weight: 600;
	background-color: #fdfcdc;
	border: none;
	border-radius: 8px;
	box-shadow: 4px 4px 0 0 #050404;
	transition: all 0.15s;
	border: solid 1.8px #000000;
}

.darkmode:hover {
	background-color: #495057;
	color: white;
}

.darkmode:active {
	background-image: linear-gradient(
		to right top,
		#e9ecef,
		#d0d5d9,
		#b8bdc3,
		#a1a7ad,
		#8a9198,
		#798087,
		#687077,
		#586067,
		#4a5057,
		#3c4147,
		#2e3338,
		#212529
	);
	/*background-color: #3e8e41;*/
	box-shadow: 0px 0px 0px 0px;
	transform: translateX(4px) translateY(4px);
	transition: all 0.15s;
}

.image {
	padding: 15px;
	width: 100%;
	height: auto;
	/*background-color: aqua;*/
	text-align: center;
}

img {
	border-radius: 50%;
	position: relative; /*!Puede cambiar cuando se realice la animación*/
	text-align: center;
	width: 200px;
	height: 200px;
}

nav {
	overflow: hidden;
	background-color: #fed9b7;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	/*margin: 40px 0 40px 0;*/
	padding: 14px;
	margin-right: 10px;
}

nav ul a {
	float: right;
	display: block;
	color: #0d10cc;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 30px;
	font-weight: 800;
}

nav .logo a {
	background-color: #0d10cc;
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 35px 30px;
	text-decoration: none;
	margin-left: 50px;
	text-transform: uppercase;
}

nav ul a:hover {
	background-color: #00afb9;
}

nav ul a:active {
	background-color: blueviolet;
	color: #06d6a0;
}
